@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
}

body {
    background-color: #000;
}

.header{
    background-image: url("/image/header-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding-top: 30px;
}

@media only screen and (min-width: 768px) {
    .header{
        height: 700px;
    }
}

.top-menu{
    margin-top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    width: 300px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.header-logo-icon {
    background-image: url("/image/logo-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-right: 10px;
    cursor: pointer;
}

.header-logo-title{
    width: 255px;
    height: 30px;
    color: #3ec8a9;
    margin-top: 10px;
    cursor: pointer;
    font-family: "Bruno Ace SC";
    transition: color 0.1s ease;
}

.header-logo-title:hover {
    color: rgb(32, 145, 121);
}

@media only screen and (min-width: 768px) {
    .header-logo {
        width: 400px;
        height: 40x;
    }

    .header-logo .header-logo-icon {
        width: 35px;
        height: 35px;
    }

    .header-logo .header-logo-title {
        width: 360px;
        height: 36px; 
        font-size: 20px;
    }
}

.menu-button{
    color: #3ec8a9;
    width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-right: 30px;
    cursor: pointer;
    float: right;
    transition: color 0.1s ease;
}

.menu-button:hover {
    color: rgb(32, 145, 121);
}

.menu-close {
    color: #f4f4f4;
    transition: color 0.1s ease;
    transform: rotate(90deg);
}

#menuButton.clicked:hover .menu-close {
    color: rgb(114, 114, 114)
}

@media only screen and (min-width: 768px) {
    .menu-button {
    display: none;
    }
}

.menu-content {
    display: none;
    position: absolute;
    background: #000;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #3ec8a9;
    width: 30vw;
    height: 33vh;
    z-index: 1000;
    align-items: center;
    right: 60px;
    margin-top: 10px;
    padding: 10px;
}

.menu-content a {
    display: block;
    font-family: "Bruno Ace SC";
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #3ec8a9;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

.menu-content a:hover{
    color: #f4f4f4
}

.large-screen-menu-content {
    display: none;
    margin-right: 40px;
}

@media only screen and (min-width: 768px) {
    .menu-button {
        display: none;
    }

    .large-screen-menu-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .large-screen-menu-content a {
        margin-left: 25px;
        font-family: "Bruno Ace SC";
        font-size: 16px;
        color: #3ec8a9;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .large-screen-menu-content a:hover {
        color: #f4f4f4;
    }
}

.promo-animation{
    font-family: "Bruno Ace SC";
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.ticket-sale{
    -webkit-text-stroke: .4px #3ec8a9;
    white-space: nowrap;
    animation: moveText 15s linear infinite;
}

@keyframes moveText {
    0% {
    transform: translateX(-100%);
    }
    50% {
    transform: translateX(100%);
    }
    100% {
    transform: translateX(-100%);
    }
}

.countdown {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 40px;
}

.countdown-text {
    font-family: "Bruno Ace SC";
    color: #3ec8a9;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.countdown-clock {
    font-family: "Bruno Ace SC";
    color: #f4f4f4;
    font-weight: bold;
    -webkit-text-stroke: .2px #3ec8a9;
    font-size: 22px;
}


.tag{
    font-family: "Bruno Ace SC";
    -webkit-text-stroke: 1px #3ec8a9;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

@media only screen and (min-width: 768px) {
    .tag {
        margin-top: 70px;
        justify-content: center;
        align-items: center;
    }

    .tag .tag-line {
        font-size: 40px;
    }
    
    .countdown-text {
        font-size: 21px;
        margin-bottom: 10px;
    }
    
    .countdown-clock {
        font-size: 26px;
    }
}

.button-container-1 {
    text-align: center;
    margin-top: 35px;
}

.button-1 {
    display: inline-block;
    height: 29px;
    width: 135px;
    padding-top: 8px;
    margin: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #3ec8a9;
    font-family: "Bruno Ace SC";
    border: 2px solid #3ec8a9;
    -webkit-text-stroke: 0.3px #3ec8a9;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    transition: color 0.1s ease;
    font-size: 16px;
}

.button-1:hover {
    background-color: rgba(110, 110, 110, 0.5);
    color: #f4f4f4;
}

.button-container-2 {
    text-align: center;
    margin-top: 15px;
}

.button-2 {
    display: inline-block;
    height: 22.5px;
    width: 100px;
    margin: 10px;
    font-size: 13px;
    padding-top: 6px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #3ec8a9;
    font-family: "Bruno Ace SC";
    border: 2px solid #3ec8a9;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    transition: color 0.1s ease;
}

.button-2:hover {
    background-color: rgba(110, 110, 110, 0.5);
    color: #f4f4f4;
}

@media only screen and (min-width: 768px) {
    .button-1 {
        height: 35px;
        width: 160px;
        padding-top: 10px;
        font-size: 19px;
    }

    .button-2 {
        height: 25px;
        width: 120px;
        margin: 10px;
        padding-top: 7px;
        font-size: 15px;
    }
}

.artists{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-artists{
    font-family: "Bruno Ace SC";
    -webkit-text-stroke: 1px #3ec8a9;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.artist-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
}

.artist-box {
    width: 400px;
    height: 120px;
    border: 2px solid #3ec8a9;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 25px;
    margin-bottom: 50px;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.artist-box img {
    width: 158px;
    height: 100px;
    object-fit: cover;
    margin: 10px;
}

.artist-box:hover {
    background-color: rgba(110,110,110,0.5);
}

.artist-details {
    font-family: "Bruno Ace SC";
    color: #3ec8a9;
    transition: color 0.1s ease;
}

.artist-details:hover{
    color: #f4f4f4;
}

.tickets{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-tickets {
    font-family: "Bruno Ace SC";
    -webkit-text-stroke: 1px #3ec8a9;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.ticket-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-button {
    width: 185px;
    height: 280px;
    border: 2px solid #3ec8a9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ticket-button:hover {
    background-color: rgba(110, 110, 110, 0.5);
}

.ticket-info {
    font-family: "Bruno Ace SC";
    width: 100%;
    color: #3ec8a9;
    margin-top: auto;
    margin-bottom: 8px;
    border-top: 2px solid #3ec8a9;
    padding-top: 5px;
    transition: color 0.1s ease;
}

.ticket-info:hover{
    color: #f4f4f4;
}

.limited-availability{
    font-family: "Bruno Ace SC";
    color: #3ec8a9;
    margin-top: 5px;
    position: absolute;
    border-bottom: 1px solid #3ec8a9;
}


@media only screen and (min-width: 768px) {
    .tickets {
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 60px;
    }

    .title-tickets {
        width: 40%;
        display: flex;
        justify-content: center;
        font-size: 45px;
    }

    .ticket-container {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.genres{
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-genres {
    font-family: "Bruno Ace SC";
    -webkit-text-stroke: 1px #3ec8a9;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}

.genre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.genre-slider {
    width: 290px;
    display: flex;
    transition: opacity 0.5s ease;
}

.genre-box:not(.active) {
    display: none;
}

.active {
    opacity: 1;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.genre-box {
    width: 100px;
    height: 100px;
    border: 2px solid #3ec8a9;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.genre-box:hover {
    background-color: rgba(110, 110, 110, 0.5);
}

.genre-icon{
    color: #3ec8a9;
    margin-top: 22.5px;
}

.genre-name {
    border: 2px solid #3ec8a9;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: "Bruno Ace SC";
    color: #3ec8a9;
    width: 100px;
    height: 50px;
    padding: 5px;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: color 0.1s ease;
}

.genre-name:hover {
    background-color: rgba(110, 110, 110, 0.5);
    color: #f4f4f4;
}

.arrow {
    color: #3ec8a9;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    margin-top: 100px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.arrow:hover{
    transform: scale(1.2);
    color: rgb(32, 145, 121);
}

@media only screen and (min-width: 768px) {
    .genres {
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 60px;
    }

    .title-genres {
        width: 40%;
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }

    .genre-container {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 110px;
        margin-right: 10px;
    }
}

.shows {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-shows {
    font-family: "Bruno Ace SC";
    -webkit-text-stroke: 1px #3ec8a9;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.show-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
}

.show-box {
    width: 400px;
    height: 120px;
    border: 2px solid #3ec8a9;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 25px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.show-box:hover {
    background-color: rgba(110, 110, 110, 0.5);
}

.show-details {
    font-family: "Bruno Ace SC";
    color: #3ec8a9;
    text-align: center;
    transition: color 0.1s ease;
}

.show-details:hover{
    color: #f4f4f4;
}

@media only screen and (min-width: 768px) {
    .shows {
        margin-top: -30px;
    }
}

.user-signup {
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    border: 2px solid #3ec8a9;
    border-radius: 5px;
    background-color: #000;
    padding: 10px 20px;
}

.user-signup h2 {
    font-family: "Bruno Ace SC";
    color: #3ec8a9;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.user-signup p {
    font-family: "Bruno Ace SC";
    color: #3ec8a9;
    margin-bottom: 20px;
}

.signup-form input[type="email"] {
    width: 92%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #3ec8a9;
    font-family: 'Bruno Ace SC';
}

.signup-form input:hover{
    background-color: rgba(110, 110, 110, 0.5);
}

.signup-form button {
    padding: 5px 10px;
    border: 2px solid #3ec8a9;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Bruno Ace SC";
    color: #3ec8a9;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: color 0.1s ease;
}

.signup-form button:hover {
    background-color: rgba(110, 110, 110, 0.5);
    color: #f4f4f4;
}

.error-message {
    display: none;
    font-family: "Bruno Ace SC";
    color: rgb(199, 33, 33);
    margin-top: 5px;
}

@media only screen and (min-width: 768px) {
    .user-signup {
        flex-direction: row;
        justify-content: center;
        margin-top: 60px;
    }
}

.footer {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.footer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.footer-details{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    margin-top: 40px;
    width: 440px;
    height: 42px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-icon{
    background-image: url("/image/logo-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 38px;
    height: 38px;
    cursor: pointer;
    margin-right: 10px;
}

.footer-logo-title{
color: #3ec8a9;
height: 40px;
cursor: pointer;
font-family: "Bruno Ace SC";
margin-top: 10px;
transition: color 0.1s ease;
}

.footer-logo-title:hover{
    color: rgb(32, 145, 121);
}

.social-media {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a {
    text-decoration: none;
    margin: 0 15px;
}

.social-media i {
        color: #3ec8a9;
        transition: color 0.1s ease;
    }

.social-media i:hover{
    color: #f4f4f4
}

.contact-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us {
    margin-top: 20px;
    width: 135px;
    height: 35px;
    border: 2px solid #3ec8a9;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Bruno Ace SC";
    color: #3ec8a9;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.1s ease;
    transition: background-color 0.3s ease;
}

.contact-us:hover {
    background-color: rgba(110, 110, 110, 0.5);
    color: #f4f4f4;
}

.footer-link {
    margin-top: 20px;
    text-align: center;
    font-family: 'Bruno Ace SC';
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.footer-link-name {
    text-decoration: none;
    color: #3ec8a9;
    transition: color 0.1s ease;
}

.footer-link a {
    display: block;
    text-decoration: none;
}

.footer-link-name:hover {
    color: #f4f4f4;
}

.separator {
    margin: 0 10px;
    color: #3ec8a9;
}

.copyright {
    display: flex;
    font-family: "Roboto";
    font-size: 11px;
    justify-content: center;
    color: #3ec8a9;
    margin-top: 5px;
    padding-top: 45px;
}

@media screen and (min-width: 768px) {
    .footer-logo{
        width: 550px;
        height: 50px;
    }
    .footer-logo-icon {
        width: 44px;
        height: 44px;
        margin-top: 8px;    
    }
    .footer-logo-title{
        font-size: 21px;
    }
    .social-media i{
        font-size: 35px;
    }
    .contact-us{
        width: 150px;
        height: 37px;
        font-size: 18px;
    }
    .footer-link{
        font-size: 16px;
    }
    .copyright{
        margin-bottom: 15px;
        font-size: 12px;
    }
}

.return-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #3ec8a9;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
    transition: opacity 0.3s ease-in-out;
}

.return-to-top:hover {
    background-color: #555;
}

.return-to-top i {
    transition: transform 0.1s ease-in-out;
}

.return-to-top:hover i {
    transform: scale(1.2);
    color: rgb(32, 145, 121);
}





